@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --radius-3xl: 1.5rem;
}

body {
  @apply font-sans antialiased text-zinc-900;
}
